  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #8f0b13;
  }

  nav {
    border-bottom: 1px solid #fff;
    padding-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: row;
  }

  .left {
    width: 30%;
    background-color: white;
  }

  .right {
    width: 70%;
  }

  a {
    text-decoration: none;
    color: #8f0b13;
    margin: 1rem;
  }

  .selected {
    text-decoration: underline;
  }

  .unselected {
    color: #3a2b02
  }

  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    background-color: #fffbf0;
    text-align: center;
  }

  .container {
    background-color: #efdfc5;
    min-width: 700px;
    padding-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  .card-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .S, .T, .O, .C, .K {
    width:15%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition: transform 1s;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
}

  .S .front, .S .back, .T .back, .T .front, .O .back, .O .front, .C .back, .C .front, .K .back, .K .front {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    transform: rotateX(0deg);
}

  .front img {
    height: 80%;
    width: auto;
  }

  .S .front, .T .front, .O .front, .C .front, .K .front {
    background-color: #fffbf0;
    border-radius: 10px;
    border: 1px solid #001524;
    transform: rotateY(180deg);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

  .S .back, .T .back, .O .back, .C .back, .K .back {
    background-color: #252b2b;
    border-radius: 10px;
    border: 1px solid #001524;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  .S.flipped, .T.flipped, .O.flipped, .C.flipped, .K.flipped {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

  .word-info-container {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 2rem;
    margin-top: 2rem;
  }

  .word {
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 8px;
  }

  .lives {
    background-color: #fff1c9;
    margin-top: 2rem;
    border: 1px solid #001524;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

  .hearts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 1rem;
  }


  #submitButton {
    background-color: #8f0b13;
    color: white;
    padding: 0.5rem 1rem;
    width: 130px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

  #resetButton {
    background-color: #000000;
    color: white;
    padding: 0.5rem 1rem;
    width: 130px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

  .hidden {
    display: none;
  }

  .showText {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
  }


